@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    /*  */
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr 4fr;
}

.container div {
    padding: 15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
}

.sidebar {
    background-color: rgb(72, 152, 227);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.content-container{
    background-color: rgb(222, 221, 221);
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.projects-container{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
}
.card {
    background-color: white;
}
.announcements-container{
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending-container{
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
